@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url(../fonts/ProximaNova-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url(../fonts/ProximaNova-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url(../fonts/ProximaNova-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #2b2b2a;
  line-height: 1;
  font-family: "Proxima Nova";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Proxima Nova";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #fff;
  line-height: 1.3;
  font-weight: 400
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 99.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 8px!important;
  display: block;
  width: 100%;
  padding: 0 10px;
  background-color: #fff;
  caret-color: inherit;
  height: 50px
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.checkbox {
  position: relative
}
.checkbox:not(:last-child) {
  margin-bottom: em(5)
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0
}
.checkbox__input:focus-visible + .checkbox__label:before {
  box-shadow: 0 0 5px #000
}
.checkbox__input:checked + .checkbox__label:before {
  background: url(../img/icon-checked-black.svg) center center/90% no-repeat;
  background-color: #fff
}
.checkbox__label {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  gap: 10px
}
.checkbox__label:before {
  content: "";
  align-self: flex-start;
  flex: 0 0 16px;
  width: 16px;
  height: 16px;
  padding: 1px;
  border: 1px solid #2b2b2a;
  background-color: #fff
}
.checkbox__text {
  align-self: center
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 7px 20px 7px;
  background-color: #ee751e;
  color: #fff;
  width: -webkit-max-content;
  width: max-content;
  border: 1px solid #ee751e;
  border-radius: 8px;
  cursor: pointer;
  transition: all .3s ease 0s
}
.button-share {
  padding: 7px 20px 7px 10px
}
.black-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 20px 7px;
  background-color: #2b2b2a;
  border: 1px solid #2b2b2a;
  color: #fff;
  width: -webkit-max-content;
  width: max-content;
  border-radius: 8px;
  cursor: pointer;
  transition: all .3s ease 0s
}
.card-title {
  font-weight: 700;
  padding-bottom: 20px
}
.card-info {
  display: flex;
  gap: 20px
}
.card-info__item {
  display: flex;
  align-items: center;
  gap: 8px
}
.card-info__icon {
  max-height: 28px
}
.text-block p:not(:last-child) {
  margin-bottom: 12px
}
.text-block ul li {
  list-style-type: disc;
  margin-left: 20px
}
.text-block ul li:not(:last-child) {
  margin-bottom: 6px
}
.title-regular {
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 20px
}
.header {
  background-color: #fff
}
.header__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.header__logo {
  display: block
}
.header__logo img {
  height: 100%
}
.footer {
  background-color: #ee751e;
  color: #fff
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 50px
}
.footer__row {
  width: 100%;
  flex: 1 1 100%;
  display: flex;
  gap: 50px
}
.footer__col {
  flex: 0 1 33.333%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end
}
.footer__col > div {
  height: 44px;
  display: flex;
  align-items: center
}
.footer__row--top {
  align-items: flex-end
}
.footer__row--top a {
  display: flex;
  align-items: flex-end
}
.social-links {
  display: flex;
  gap: 50px
}
.social-links__col div {
  height: 44px;
  display: flex;
  align-items: center
}
.social-links__col a {
  display: flex;
  align-items: center;
  gap: 8px
}
.main__title {
  font-weight: 700;
  padding-bottom: 30px;
  text-align: center;
  margin: 0 auto
}
.main__title span {
  color: #ee751e
}
.main__description {
  font-weight: 600;
  text-align: center;
  max-width: 930px;
  margin: 0 auto
}
.main-image {
  width: 100%
}
.main-image img {
  width: 100%
}
.filters__row {
  width: 100%;
  display: flex;
  gap: 30px
}
.filters__col--1 {
  flex: 0 1 33%;
  padding-top: 35px
}
.filters__col--2 {
  flex: 0 1 66%
}
.icon-filters-mobile {
  display: none
}
.spollers {
  box-shadow: 0 0 5px 0 rgba(0,0,0,.13);
  background: #fff;
  border-radius: 10px;
  padding: 30px
}
.card {
  padding: 25px 30px 30px;
  border: 2px solid rgba(238,117,30,0);
  border-radius: 10px
}
.card:not(:last-child) {
  margin-bottom: 10px
}
.card__title {
  font-weight: 700;
  padding-bottom: 20px
}
.card__info-line {
  padding-bottom: 15px
}
.info-line {
  display: flex;
  align-items: center;
  gap: 20px
}
.info-line__col {
  display: flex;
  align-items: center;
  gap: 8px
}
.info-line img {
  max-height: 28px
}
.pagging {
  padding: 20px 0 30px;
  display: flex;
  align-items: center;
  gap: 20px
}
.pagging__arrow {
  cursor: pointer;
  width: 9px;
  height: 18px
}
.pagging__arrow img {
  width: 100%;
  height: 100%;
  transition: all .3s ease 0s
}
.pagging__arrow--prev {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.pagging__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px
}
.pagging__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  transition: all .3s ease 0s
}
._active {
  background-color: #ee751e;
  color: #fff;
  cursor: initial
}
.last__image {
  width: 100%
}
.last__image img {
  width: 100%
}
.last__title {
  font-weight: 700;
  padding-bottom: 10px;
  text-align: center
}
.last__description {
  font-weight: 600;
  text-align: center
}
.last__text {
  text-align: center
}
.last__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 0
}
.filter {
  padding: 0 0 15px;
  position: relative
}
.filter__title .title-text {
  font-weight: 700;
  padding-bottom: 10px;
  position: relative;
  padding: 0 30px 0 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}
.filter__title .title-text::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  background: url(../img/icon-arrow-black.svg) center/55% no-repeat;
  position: absolute;
  right: 0;
  transition: all .3s ease 0s
}
.filter__title .checkbox {
  font-weight: 400
}
.filter__title .checkbox__label {
  display: flex;
  align-items: center;
  min-height: 25px
}
.filter .options-wrapper {
  padding: 10px;
  width: 100%;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.13);
  border-radius: 8px;
  overflow: auto;
  -webkit-transform: translate(0,-100%);
  transform: translate(0,-100%);
  transition: all .3s ease 0s;
  background-color: #fff;
  max-height: 300px;
  overflow: auto
}
.filter__options {
  position: absolute;
  top: calc(100% - 10px);
  left: -5px;
  width: 300px;
  height: 0;
  overflow: hidden
}
.filter__title._show .title-text::after {
  content: "";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.filter__title._show .filter__options {
  padding: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content
}
.filter__title._show .options-wrapper {
  position: relative;
  z-index: 2;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.section-1 {
  padding-bottom: 50px
}
.section-1__image {
  width: 100%;
  padding-bottom: 50px
}
.section-1__image img {
  width: 100%
}
.section-1__row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 50px 0
}
.contact {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px
}
.contact__title {
  font-weight: 700;
  padding-bottom: 20px
}
.row-inputs {
  display: flex;
  gap: 16px
}
.input-wrapper {
  flex: 0 1 calc(50% - 8px)
}
.input-label {
  padding-top: 15px;
  padding-bottom: 8px
}
.file-label {
  padding-top: 15px;
  padding-bottom: 8px
}
.file-input-area {
  height: 400px;
  width: 100%;
  border: 2px dashed #ee751e;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #fff
}
.file-input-area img {
  padding-bottom: 30px
}
.file-input-text {
  text-align: center;
  font-size: 20px
}
.row-check {
  padding: 30px 0;
  display: flex;
  align-items: center;
  gap: 8px
}
#fileList {
  padding-top: 6px
}
#fileList li {
  list-style-type: disc;
  margin-left: 20px;
  padding: 12px 0 0
}
@media (min-width:99.125em) {
  .checkbox__label:before {
    margin-top: .4375rem
  }
  .button {
    font-size: 1.4375rem
  }
  .button-share img {
    width: 1.8125rem
  }
  .black-button {
    font-size: 1.4375rem
  }
  .card-title {
    font-size: 2.1875rem
  }
  .card-info__text {
    font-size: 1.4375rem
  }
  .text-block {
    font-size: 1.4375rem
  }
  .title-regular {
    font-size: 2.1875rem
  }
  .header {
    height: 7.5rem
  }
  .header__logo {
    width: 11.8125rem
  }
  .header__logo {
    height: 3.875rem
  }
  .footer {
    font-size: 1.4375rem
  }
  .footer__container {
    padding-top: 6.25rem
  }
  .footer__container {
    padding-bottom: 9.375rem
  }
  .main {
    padding-bottom: 3.75rem
  }
  .main__title {
    font-size: 5.5rem
  }
  .main__title {
    padding-top: 4.375rem
  }
  .main__description {
    font-size: 1.4375rem
  }
  .card__title {
    font-size: 2.1875rem
  }
  .card__text {
    font-size: 1.4375rem
  }
  .card__text {
    padding-bottom: 1.5rem
  }
  .info-line__text {
    font-size: 1.4375rem
  }
  .pagging__item {
    font-size: 1.4375rem
  }
  .last {
    padding-top: 6.25rem
  }
  .last {
    padding-bottom: 5rem
  }
  .last__title {
    padding-top: 3.4375rem
  }
  .last__title {
    font-size: 4.375rem
  }
  .last__description {
    font-size: 1.875rem
  }
  .last__description {
    padding-bottom: 1.625rem
  }
  .last__text {
    font-size: 1.4375rem
  }
  .filter {
    font-size: 1.4375rem
  }
  .filter__title .title-text::after {
    top: .375rem
  }
  .contact__title {
    font-size: 2.1875rem
  }
  .input-label {
    font-size: 1.4375rem
  }
  .file-label {
    font-size: 1.4375rem
  }
  .checkbox__text {
    font-size: 1.4375rem
  }
  #fileList {
    font-size: 1.4375rem
  }
}
@media (max-width:600px) {
  .social-links {
    gap: 30px
  }
}
@media (max-width:415px) {
  .footer__col--address,
  .footer__col--social {
    flex: 1 1 100%
  }
  .social-links {
    gap: 30px
  }
}
@media (max-width:20em) {
  .checkbox__label:before {
    margin-top: .1875rem
  }
  .button {
    font-size: .9375rem
  }
  .button-share img {
    width: 1.1875rem
  }
  .black-button {
    font-size: .9375rem
  }
  .card-title {
    font-size: 1rem
  }
  .card-info__text {
    font-size: .8125rem
  }
  .text-block {
    font-size: .8125rem
  }
  .title-regular {
    font-size: 1rem
  }
  .header {
    height: 3.4375rem
  }
  .header__logo {
    width: 4.625rem
  }
  .header__logo {
    height: 1.5625rem
  }
  .footer {
    font-size: .8125rem
  }
  .footer__container {
    padding-top: 2.5rem
  }
  .footer__container {
    padding-bottom: 2.5rem
  }
  .main {
    padding-bottom: 1.5rem
  }
  .main__title {
    font-size: 1.4375rem
  }
  .main__title {
    padding-top: 1.875rem
  }
  .main__description {
    font-size: .8125rem
  }
  .card__title {
    font-size: 1rem
  }
  .card__text {
    font-size: .8125rem
  }
  .card__text {
    padding-bottom: .8125rem
  }
  .info-line__text {
    font-size: .8125rem
  }
  .pagging__item {
    font-size: 1rem
  }
  .last {
    padding-top: 1.25rem
  }
  .last {
    padding-bottom: 3.125rem
  }
  .last__title {
    padding-top: 1.875rem
  }
  .last__title {
    font-size: 1.3125rem
  }
  .last__description {
    font-size: 1rem
  }
  .last__description {
    padding-bottom: .375rem
  }
  .last__text {
    font-size: .8125rem
  }
  .filter {
    font-size: .8125rem
  }
  .filter__title .title-text::after {
    top: .0000000625rem
  }
  .contact__title {
    font-size: 1rem
  }
  .input-label {
    font-size: 1rem
  }
  .file-label {
    font-size: 1rem
  }
  .checkbox__text {
    font-size: .9375rem
  }
  #fileList {
    font-size: .9375rem
  }
}
@media (max-width:47.99875em) {
  .button {
    padding: 7px 20px 6px
  }
  .black-button {
    padding: 7px 20px 6px
  }
  .footer__container {
    gap: 40px
  }
  .footer__row {
    flex-wrap: wrap;
    gap: 40px
  }
  .footer__row--top {
    justify-content: center
  }
  .footer__col--address {
    order: 1;
    flex: 0 1 calc(48% - 40px)
  }
  .footer__col--nav {
    order: 3;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row
  }
  .footer__col--nav > div {
    flex: 0 1 25%;
    display: flex;
    justify-content: center;
    align-items: center
  }
  .footer__col--social {
    order: 2;
    flex: 0 1 calc(48% - 40px)
  }
  .filters__row {
    display: block
  }
  .filters__col--1 {
    background-color: #ee751e;
    display: flex;
    gap: 20px;
    padding: 17px 20px;
    margin: 0 -15px
  }
  .icon-filters-mobile {
    display: block
  }
  .spollers {
    box-shadow: initial;
    padding: 0;
    background: 0 0;
    border-radius: 0;
    display: flex;
    gap: 12px
  }
  .card {
    padding: 25px 0 30px
  }
  .filter {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center
  }
  .filter__title {
    background-color: #fff;
    padding: 3px 5px;
    border-radius: 10px
  }
  .filter__title .title-text {
    padding: 0 20px 0 0
  }
  .filter__options {
    top: calc(100% - 3px);
    width: 200px
  }
  .row-inputs {
    flex-wrap: wrap;
    gap: 0
  }
  .input-wrapper {
    flex: 1 1 100%
  }
}
@media (max-width:29.99875em) {
  .footer__container {
    gap: 30px
  }
  .footer__row {
    gap: 30px
  }
  .footer__row--top a img {
    flex: 0 0 125px;
    width: 125px
  }
  .footer__col--address,
  .footer__col--social {
    flex: 0 1 calc(45% - 40px)
  }
  .social-links {
    gap: 22px
  }
  .footer__col--nav > div {
    flex: 0 1 33.333%
  }
  .info-line {
    gap: 14px
  }
  .section-1__image {
    padding-bottom: 30px
  }
  .section-1__row {
    gap: 20px
  }
}
@media (min-width:20em) and (max-width:99.125em) {
  @supports (margin-top:clamp(0.1875rem ,0.1243088468rem + 0.3159557662vw ,0.4375rem)) {
    .checkbox__label:before {
      margin-top: clamp(.1875rem ,.1243088468rem + .3159557662vw ,.4375rem)
    }
  }
  @supports not (margin-top:clamp(0.1875rem ,0.1243088468rem + 0.3159557662vw ,0.4375rem)) {
    .checkbox__label:before {
      margin-top: calc(.1875rem + .25 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(0.9375rem ,0.8111176935rem + 0.6319115324vw ,1.4375rem)) {
    .button {
      font-size: clamp(.9375rem ,.8111176935rem + .6319115324vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(0.9375rem ,0.8111176935rem + 0.6319115324vw ,1.4375rem)) {
    .button {
      font-size: calc(.9375rem + .5 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (width:clamp(1.1875rem ,1.0295221169rem + 0.7898894155vw ,1.8125rem)) {
    .button-share img {
      width: clamp(1.1875rem ,1.0295221169rem + .7898894155vw ,1.8125rem)
    }
  }
  @supports not (width:clamp(1.1875rem ,1.0295221169rem + 0.7898894155vw ,1.8125rem)) {
    .button-share img {
      width: calc(1.1875rem + .625 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(0.9375rem ,0.8111176935rem + 0.6319115324vw ,1.4375rem)) {
    .black-button {
      font-size: clamp(.9375rem ,.8111176935rem + .6319115324vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(0.9375rem ,0.8111176935rem + 0.6319115324vw ,1.4375rem)) {
    .black-button {
      font-size: calc(.9375rem + .5 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(1rem ,0.6998420221rem + 1.5007898894vw ,2.1875rem)) {
    .card-title {
      font-size: clamp(1rem ,.6998420221rem + 1.5007898894vw ,2.1875rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.6998420221rem + 1.5007898894vw ,2.1875rem)) {
    .card-title {
      font-size: calc(1rem + 1.1875 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(0.8125rem ,0.6545221169rem + 0.7898894155vw ,1.4375rem)) {
    .card-info__text {
      font-size: clamp(.8125rem ,.6545221169rem + .7898894155vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(0.8125rem ,0.6545221169rem + 0.7898894155vw ,1.4375rem)) {
    .card-info__text {
      font-size: calc(.8125rem + .625 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(0.8125rem ,0.6545221169rem + 0.7898894155vw ,1.4375rem)) {
    .text-block {
      font-size: clamp(.8125rem ,.6545221169rem + .7898894155vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(0.8125rem ,0.6545221169rem + 0.7898894155vw ,1.4375rem)) {
    .text-block {
      font-size: calc(.8125rem + .625 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(1rem ,0.6998420221rem + 1.5007898894vw ,2.1875rem)) {
    .title-regular {
      font-size: clamp(1rem ,.6998420221rem + 1.5007898894vw ,2.1875rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.6998420221rem + 1.5007898894vw ,2.1875rem)) {
    .title-regular {
      font-size: calc(1rem + 1.1875 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (height:clamp(3.4375rem ,2.4106437599rem + 5.1342812006vw ,7.5rem)) {
    .header {
      height: clamp(3.4375rem ,2.4106437599rem + 5.1342812006vw ,7.5rem)
    }
  }
  @supports not (height:clamp(3.4375rem ,2.4106437599rem + 5.1342812006vw ,7.5rem)) {
    .header {
      height: calc(3.4375rem + 4.0625 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (width:clamp(4.625rem ,2.8082543444rem + 9.083728278vw ,11.8125rem)) {
    .header__logo {
      width: clamp(4.625rem ,2.8082543444rem + 9.083728278vw ,11.8125rem)
    }
  }
  @supports not (width:clamp(4.625rem ,2.8082543444rem + 9.083728278vw ,11.8125rem)) {
    .header__logo {
      width: calc(4.625rem + 7.1875 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (height:clamp(1.5625rem ,0.9779818325rem + 2.9225908373vw ,3.875rem)) {
    .header__logo {
      height: clamp(1.5625rem ,.9779818325rem + 2.9225908373vw ,3.875rem)
    }
  }
  @supports not (height:clamp(1.5625rem ,0.9779818325rem + 2.9225908373vw ,3.875rem)) {
    .header__logo {
      height: calc(1.5625rem + 2.3125 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(0.8125rem ,0.6545221169rem + 0.7898894155vw ,1.4375rem)) {
    .footer {
      font-size: clamp(.8125rem ,.6545221169rem + .7898894155vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(0.8125rem ,0.6545221169rem + 0.7898894155vw ,1.4375rem)) {
    .footer {
      font-size: calc(.8125rem + .625 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (padding-top:clamp(2.5rem ,1.5521327014rem + 4.7393364929vw ,6.25rem)) {
    .footer__container {
      padding-top: clamp(2.5rem ,1.5521327014rem + 4.7393364929vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,1.5521327014rem + 4.7393364929vw ,6.25rem)) {
    .footer__container {
      padding-top: calc(2.5rem + 3.75 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,0.7622432859rem + 8.6887835703vw ,9.375rem)) {
    .footer__container {
      padding-bottom: clamp(2.5rem ,.7622432859rem + 8.6887835703vw ,9.375rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,0.7622432859rem + 8.6887835703vw ,9.375rem)) {
    .footer__container {
      padding-bottom: calc(2.5rem + 6.875 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (padding-bottom:clamp(1.5rem ,0.9312796209rem + 2.8436018957vw ,3.75rem)) {
    .main {
      padding-bottom: clamp(1.5rem ,.9312796209rem + 2.8436018957vw ,3.75rem)
    }
  }
  @supports not (padding-bottom:clamp(1.5rem ,0.9312796209rem + 2.8436018957vw ,3.75rem)) {
    .main {
      padding-bottom: calc(1.5rem + 2.25 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(1.4375rem ,0.4106437599rem + 5.1342812006vw ,5.5rem)) {
    .main__title {
      font-size: clamp(1.4375rem ,.4106437599rem + 5.1342812006vw ,5.5rem)
    }
  }
  @supports not (font-size:clamp(1.4375rem ,0.4106437599rem + 5.1342812006vw ,5.5rem)) {
    .main__title {
      font-size: calc(1.4375rem + 4.0625 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (padding-top:clamp(1.875rem ,1.2430884676rem + 3.1595576619vw ,4.375rem)) {
    .main__title {
      padding-top: clamp(1.875rem ,1.2430884676rem + 3.1595576619vw ,4.375rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,1.2430884676rem + 3.1595576619vw ,4.375rem)) {
    .main__title {
      padding-top: calc(1.875rem + 2.5 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(0.8125rem ,0.6545221169rem + 0.7898894155vw ,1.4375rem)) {
    .main__description {
      font-size: clamp(.8125rem ,.6545221169rem + .7898894155vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(0.8125rem ,0.6545221169rem + 0.7898894155vw ,1.4375rem)) {
    .main__description {
      font-size: calc(.8125rem + .625 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(1rem ,0.6998420221rem + 1.5007898894vw ,2.1875rem)) {
    .card__title {
      font-size: clamp(1rem ,.6998420221rem + 1.5007898894vw ,2.1875rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.6998420221rem + 1.5007898894vw ,2.1875rem)) {
    .card__title {
      font-size: calc(1rem + 1.1875 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(0.8125rem ,0.6545221169rem + 0.7898894155vw ,1.4375rem)) {
    .card__text {
      font-size: clamp(.8125rem ,.6545221169rem + .7898894155vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(0.8125rem ,0.6545221169rem + 0.7898894155vw ,1.4375rem)) {
    .card__text {
      font-size: calc(.8125rem + .625 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (padding-bottom:clamp(0.8125rem ,0.6387243286rem + 0.868878357vw ,1.5rem)) {
    .card__text {
      padding-bottom: clamp(.8125rem ,.6387243286rem + .868878357vw ,1.5rem)
    }
  }
  @supports not (padding-bottom:clamp(0.8125rem ,0.6387243286rem + 0.868878357vw ,1.5rem)) {
    .card__text {
      padding-bottom: calc(.8125rem + .6875 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(0.8125rem ,0.6545221169rem + 0.7898894155vw ,1.4375rem)) {
    .info-line__text {
      font-size: clamp(.8125rem ,.6545221169rem + .7898894155vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(0.8125rem ,0.6545221169rem + 0.7898894155vw ,1.4375rem)) {
    .info-line__text {
      font-size: calc(.8125rem + .625 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(1rem ,0.8894154818rem + 0.5529225908vw ,1.4375rem)) {
    .pagging__item {
      font-size: clamp(1rem ,.8894154818rem + .5529225908vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.8894154818rem + 0.5529225908vw ,1.4375rem)) {
    .pagging__item {
      font-size: calc(1rem + .4375 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (padding-top:clamp(1.25rem ,-0.0138230648rem + 6.3191153239vw ,6.25rem)) {
    .last {
      padding-top: clamp(1.25rem ,-.0138230648rem + 6.3191153239vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,-0.0138230648rem + 6.3191153239vw ,6.25rem)) {
    .last {
      padding-top: calc(1.25rem + 5 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,2.6510663507rem + 2.3696682464vw ,5rem)) {
    .last {
      padding-bottom: clamp(3.125rem ,2.6510663507rem + 2.3696682464vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,2.6510663507rem + 2.3696682464vw ,5rem)) {
    .last {
      padding-bottom: calc(3.125rem + 1.875 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (padding-top:clamp(1.875rem ,1.4800552923rem + 1.9747235387vw ,3.4375rem)) {
    .last__title {
      padding-top: clamp(1.875rem ,1.4800552923rem + 1.9747235387vw ,3.4375rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,1.4800552923rem + 1.9747235387vw ,3.4375rem)) {
    .last__title {
      padding-top: calc(1.875rem + 1.5625 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(1.3125rem ,0.5384083728rem + 3.8704581359vw ,4.375rem)) {
    .last__title {
      font-size: clamp(1.3125rem ,.5384083728rem + 3.8704581359vw ,4.375rem)
    }
  }
  @supports not (font-size:clamp(1.3125rem ,0.5384083728rem + 3.8704581359vw ,4.375rem)) {
    .last__title {
      font-size: calc(1.3125rem + 3.0625 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(1rem ,0.7788309637rem + 1.1058451817vw ,1.875rem)) {
    .last__description {
      font-size: clamp(1rem ,.7788309637rem + 1.1058451817vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.7788309637rem + 1.1058451817vw ,1.875rem)) {
    .last__description {
      font-size: calc(1rem + .875 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (padding-bottom:clamp(0.375rem ,0.0590442338rem + 1.579778831vw ,1.625rem)) {
    .last__description {
      padding-bottom: clamp(.375rem ,.0590442338rem + 1.579778831vw ,1.625rem)
    }
  }
  @supports not (padding-bottom:clamp(0.375rem ,0.0590442338rem + 1.579778831vw ,1.625rem)) {
    .last__description {
      padding-bottom: calc(.375rem + 1.25 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(0.8125rem ,0.6545221169rem + 0.7898894155vw ,1.4375rem)) {
    .last__text {
      font-size: clamp(.8125rem ,.6545221169rem + .7898894155vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(0.8125rem ,0.6545221169rem + 0.7898894155vw ,1.4375rem)) {
    .last__text {
      font-size: calc(.8125rem + .625 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(0.8125rem ,0.6545221169rem + 0.7898894155vw ,1.4375rem)) {
    .filter {
      font-size: clamp(.8125rem ,.6545221169rem + .7898894155vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(0.8125rem ,0.6545221169rem + 0.7898894155vw ,1.4375rem)) {
    .filter {
      font-size: calc(.8125rem + .625 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (top:clamp(0.0000000625rem ,-0.0947866516rem + 0.4739335703vw ,0.375rem)) {
    .filter__title .title-text::after {
      top: clamp(.0000000625rem ,-.0947866516rem + .4739335703vw ,.375rem)
    }
  }
  @supports not (top:clamp(0.0000000625rem ,-0.0947866516rem + 0.4739335703vw ,0.375rem)) {
    .filter__title .title-text::after {
      top: calc(.0000000625rem + .3749999375 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(1rem ,0.6998420221rem + 1.5007898894vw ,2.1875rem)) {
    .contact__title {
      font-size: clamp(1rem ,.6998420221rem + 1.5007898894vw ,2.1875rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.6998420221rem + 1.5007898894vw ,2.1875rem)) {
    .contact__title {
      font-size: calc(1rem + 1.1875 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(1rem ,0.8894154818rem + 0.5529225908vw ,1.4375rem)) {
    .input-label {
      font-size: clamp(1rem ,.8894154818rem + .5529225908vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.8894154818rem + 0.5529225908vw ,1.4375rem)) {
    .input-label {
      font-size: calc(1rem + .4375 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(1rem ,0.8894154818rem + 0.5529225908vw ,1.4375rem)) {
    .file-label {
      font-size: clamp(1rem ,.8894154818rem + .5529225908vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.8894154818rem + 0.5529225908vw ,1.4375rem)) {
    .file-label {
      font-size: calc(1rem + .4375 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(0.9375rem ,0.8111176935rem + 0.6319115324vw ,1.4375rem)) {
    .checkbox__text {
      font-size: clamp(.9375rem ,.8111176935rem + .6319115324vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(0.9375rem ,0.8111176935rem + 0.6319115324vw ,1.4375rem)) {
    .checkbox__text {
      font-size: calc(.9375rem + .5 * (100vw - 20rem)/ 79.125)
    }
  }
  @supports (font-size:clamp(0.9375rem ,0.8111176935rem + 0.6319115324vw ,1.4375rem)) {
    #fileList {
      font-size: clamp(.9375rem ,.8111176935rem + .6319115324vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(0.9375rem ,0.8111176935rem + 0.6319115324vw ,1.4375rem)) {
    #fileList {
      font-size: calc(.9375rem + .5 * (100vw - 20rem)/ 79.125)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #2b2b2a;
    border: 1px solid #2b2b2a
  }
  .black-button:hover {
    background-color: #ee751e;
    border: 1px solid #ee751e
  }
  .file-button:hover {
    background-color: #fff;
    color: #ee751e
  }
  .footer__col > div a:hover {
    text-decoration: underline
  }
  .social-links__col a:hover {
    text-decoration: underline
  }
  .card:hover {
    border: 2px solid #ee751e;
    border-radius: 10px
  }
  .pagging__arrow img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
  }
  .pagging__item:hover {
    font-weight: 600
  }
  ._active:hover {
    font-weight: 400
  }
  .filter__title .title-text:hover {
    cursor: pointer
  }
}